body {
    background: url("../images/darkness.png");
    color: #99ff99;
    
}

.jumbotron {
    background: url("../images/greengradient.jpg");
    /* background: linear-gradient(#076DFF, #65a5FF); */
    font-family: 'Anton', sans-serif;
    text-align: center;
}

p.box {
    text-align: center;
    margin: 10px;
    padding: 30px 24px 40px 24px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
    
}